/* CSS Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
blockquote,
strong,
em {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

:root {
  --black-color: #051A1F; /* Black */
  --light-color: #C4E1E1; /* Off-white */
  --accent-color: #1CFAC4; /* Green */
}
/* 
font-family: 'Instrument Sans', sans-serif;
font-weight: 400; regs
font-weight: 600; semi
font-weight: 700; bold
*/


body {
  background-color: var(--black-color);
  color: var(--light-color);
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

p {
  font-size: 16px;
  line-height: 1.2;
  max-width: 313px;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

.button {
  background-color: var(--accent-color);
  color: var(--black-color);
  padding: 14px 22px;
  border-radius: 6px;
  font-weight: 700;
  margin-right: 10px;
}

header a {
  margin-right: 10px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s;
}

header a:hover {
  opacity: 0.5;
}

header, section {
  padding: 20px;
  max-width: 1440px;
  margin: auto;
}

.header-div {
  margin-bottom: 20px;
  display: flex;
}

.mini-icons {
  margin-right: 8px;
}

.mini-div {
  flex-direction: column;
}

.twopxfix {
  margin-left: 2px;
  margin-right: 10px;
}


.social-div {
  display: block;
  align-items: center;
  flex-direction: column;  
}


.grid-container {
  margin-top: 250px;
  display: block;
  width: 100%;
}

.image {
  width: 100%;
  height: clamp(500px, 30vw, 700px);
  object-fit: cover;
  margin-bottom: 10px;
  mix-blend-mode: luminosity;
}

.image:hover {
  mix-blend-mode: normal;
}


.grid-item {
  margin-bottom: 20px;
  position: relative;
}


/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: color;
  opacity: 1;
  background-color: rgba(var(--black-color));  Optional: Add a background color with opacity 
  transition: opacity 0.3s;
}

.image-container:hover .overlay {
  opacity: 0; 
} */




@media (min-width: 900px) {
  .grid-header {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-columns: 56% 43%; */
    gap: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-columns: 56% 43%; */    
    gap: 20px;
  }
  .social-div {
    display: flex;
    flex-direction: row;  
  }
  
}









