/* CSS Reset */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
blockquote,
strong,
.bg-img-container,
em {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

:root {
  --black-color: #051A1F; /* Black */
  --light-color: #C4E1E1; /* Off-white */
  --accent-color: #1CFAC4; /* Green */
}
/* 
font-family: 'Instrument Sans', sans-serif;
font-weight: 400; regs
font-weight: 600; semi
font-weight: 700; bold
*/


body {
  background-color: var(--black-color);
  color: var(--light-color);
  font-family: 'Instrument Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

p {
  font-size: 16px;
  line-height: 1.2;
  max-width: 313px;
}

a {
  text-decoration: none;
  color: var(--light-color);
}

h1 {
  font-family: chapman-condensed, Times, serif;
  font-size: 80px;
  font-weight: 400;
  font-style: normal;
  max-width: 600px;
  line-height: .8;
}

.button {
  background-color: var(--accent-color);
  color: var(--black-color);
  padding: 14px 22px;
  border-radius: 6px;
  font-weight: 700;
  margin-right: 10px;
}

header a, footer a {
  margin-right: 10px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s;
}

header a:hover, footer a:hover {
  opacity: 0.5;
}

header, section, footer {
  padding: 20px;
  max-width: 1440px;
  margin: auto;
}

.header-div {
  margin-bottom: 20px;
  display: flex;
}

.mini-icons {
  margin-right: 8px;
}

.mini-div {
  flex-direction: column;
}

.twopxfix {
  margin-left: 2px;
  margin-right: 10px;
}


.social-div {
  display: block;
}


.grid-container {
  margin-top: 200px;
  display: block;
  width: 100%;
}

.image {
  width: 100%;
  height: clamp(500px, 30vw, 700px);
  object-fit: cover;
  margin-bottom: 10px;
  mix-blend-mode: luminosity;
}

.image:hover {
  mix-blend-mode: normal;
}


.grid-item {
  margin-bottom: 20px;
  position: relative;
  background-color: var(--black-color);
}



.full-width-svg {
  width: 100%;
  height: auto; 
  display: block; 
  margin: 60px 0 100px 0;
}

.mobile-image {
  display: block; /* Display the mobile image by default */
}

.desktop-image {
  display: none; /* Hide the desktop image by default */
}


.hero-p {
  margin: 35px 0 20px 0;
}

.bg-img-container {
  position: absolute; 
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  z-index: -420;
  opacity: 65%;
}


.top-right-image {
  position: absolute; 
  top: 0; 
  right: 0;
  width: 80%; 
  height: auto; 
}











@media (min-width: 900px) {
  .grid-header {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-columns: 56% 43%; */
    gap: 20px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-columns: 56% 43%; */    
    gap: 20px;
  }
  .social-div {
    display: flex;
    flex-direction: row;  
  }

  .mobile-image {
    display: none; /* Hide the mobile image on desktop */
  }
  
  .desktop-image {
    display: block; /* Display the desktop image on desktop */
  }

  h1 {
    font-size: 100px;
    line-height: .8;
  }

  .top-right-image {
    width: 50%; 
  }

  .button {
    width: fit-content;
  }
}









